<div class="row">
  <div class="span1">message.id</div>
  <div class="span4">message.content</div>
  <div class="span1">
    <% if message.is_read %>
      <a href="#" class="btn btn-info">已读</a>
    <% else %>
      <a href="#" class="btn btn-warning">未读</a>
    <% end %>
  </div>
</div>