<p>尊敬的用户您好:</p>
<br>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;您的密码重置为: <%= new_password %></p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;登录网站: <a href="http://chuangye.sjtu.edu.cn:3000/">创业学院讨论室借用系统</a></p>
<br>
<br>
<br>
<p>祝好</p>
<p>上海交通大学 创业学院</p>
