
body {
  background-color: #E4E4E4;
  color: #7F7F7F;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1E2327;
  color: white;
  padding-top: 4px;
  padding-bottom: 6px;
}

.site-name {
  font-family:STXingkai,华文行楷,楷体_GB2312,宋体;
}

.main-content {
  padding: 10px;
  background-color: #FFFFFF;
}

.login-out {
  font-style: normal;
  font-size: 9pt;
}

.navbar, .nav {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 10px;
  background-color: #000000;
  color: #ffffff;
  line-height: 20px;
}

.navbar .nav > ul {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: inline;
  display: inline;
}

.navbar .nav a {
  line-height: 1%;
}

.navbar .nav.pull-right a {
  font-weight: normal;
  font-size: 10pt;
}

.sidebar {
  background-color: #C8C8C8;
}

#logo {
  text-decoration: none;
}

.content {
  background-color: #cccccc;
}

.footer {
  margin-top: 10px;
  border: 8px solid #626262;
  background-color: #515251;
  line-height: 300%;
  vertical-align: text-bottom;
  color: white;
  text-align: center;
}

table#room-table {
  background: #ECF0F1;
}

table#room-table thead tr th {
  background: #34495E;
  color: #95A5A6;
}

table#room-table tbody tr td:first-child {
  background: #1ABC9C;
  color: black;
}

/*table tbody tr td:not(:first-child):hover {
  background: #F1C40F;
}
*/
/*
input {
  max-height: 30px;
}
*/
.modal-body {
    max-height: 720px;
}

.modal-body input {
  max-height: 16px;
}

.modal-body input[readonly="readonly"] {
  color: black;
  font-size: 16pt;
}

td.room_app_used {
  background-color: red; /*#FF005D;*/
}

td.room_app_used.room_app_timeout {
  background-color: #888888;
}
