<div class="row-fluid">
  <div class="span2"><h1>Application</h1></div>  
  <div class="span1 pull-right"><a href="/app/new" class="btn btn-info btn-block"><i class="icon-plus icon-large"></i>&nbsp; add</a></div>
</div>

<div class="row-fluid">
  <h1>Application</h1>
</div>

<div class="row-fluid">
  <% if @new_applications %>
    <div class="row"><h3>un handled</h3></div>
    <% for app in @new_applications %>
      <%= partial 'app/app', :object => app %>
    <% end %>
  <% else %>
    <div class="row">no unhundled applications</div>
  <% end %>  
</div>

<div class="row-fluid">
  <% if @old_applications %>
    <div class="row"><h3>old</h3></div>
    <% for app in @old_applications %>
      <%= partial 'app/app', :object => app %>
    <% end %>
  <% else %>
    <div class="row">no applications</div>
  <% end %>
</div>


<p>hello, world</p>