<div class="row">
  
  <div class="span8 offset1">

    <div class="tabs-content">
      <% form_for :account, url(:accounts, :create), :class => 'form form-horizontal' do |f| %>
        <fieldset>
          <div id="legend">
            <legend class="brand">注册新用户</legend>
          </div>
          <%= partial 'accounts/form', :locals => { :f => f } %>
        </fieldset>
     <% end %>
    </div>

  </div>

</div>
