
<div class="row">
  <div class="span6 offset2 login-form">
	  	
	<% form_tag url(:accounts, :new_password), :method => :post, :class => 'form form-horizontal' do %>
  		<% field_set_tag do %>

			<div id="legend">
			    <legend class="brand">重置密码</legend>
			</div>

			<fieldset class='control-group'>
			  <%= label_tag '您的邮箱', :class => 'control-label' %>
			  <div class='controls'>
			    <%= text_field_tag :email, :class => 'input-small', :autofocus => true %>
			  </div>
			</fieldset>

			<fieldset class='control-group'>
			  <div class="controls">
			    <%= submit_tag '确 定', :class => 'btn btn-success btn-large' %>
			    &nbsp; &nbsp; &nbsp; 
			    <%= link_to '取 消', url(:index), :class => 'btn btn-large' %>
			  </div>
			</fieldset>

		<% end -%>
	<% end -%>
  </div>
</div>

